/* =========================================
   SPRITES - Skills
   Version: 1.0.1
========================================= */

/* categoria Skills */
.sprite-skills {
    width: 25px;
    height: 25px;
    background-image: url('../Imagens/skills.png?v=1.0.1');
}

/* Skills individuais */
bg-abundantHarvest { background-position: -10px -10px; }
.bg-baleEconomy { background-position: -55px -10px; }
.bg-acreFarm { background-position: -10px -55px; }
.bg-alternateMedicine { background-position: -55px -55px; }
.bg-bettysFriend { background-position: -100px -10px; }
.bg-catchup { background-position: -100px -55px; }
.bg-cluckyGrazing { background-position: -10px -100px; }
.bg-bountifulBounties { background-position: -55px -100px; }
.bg-chonkyScarecrow { background-position: -100px -100px; }
.bg-coder { background-position: -145px -10px; }
.bg-crimeFruit { background-position: -145px -55px; }
.bg-coinSwindler { background-position: -145px -100px; }
.bg-cropExtensionModuleI { background-position: -10px -145px; }
.bg-cropExtensionModuleII { background-position: -55px -145px; }
.bg-cropExtensionModuleIII { background-position: -100px -145px; }
.bg-cropProcessorUnit { background-position: -145px -145px; }
.bg-discordMod { background-position: -190px -10px; }
.bg-doubleBale { background-position: -190px -55px; }
.bg-efficiencyExtensionModule { background-position: -190px -100px; }
.bg-efficientFeeding { background-position: -190px -145px; }
.bg-experiencedFarmer { background-position: -10px -190px; }
.bg-featherweight { background-position: -55px -190px; }
.bg-ferrousFavor { background-position: -100px -190px; }
.bg-fellersDiscount { background-position: -145px -190px; }
.bg-fineFibers { background-position: -190px -190px; }
.bg-fieldExpansionModule { background-position: -235px -10px; }
.bg-firesideAlchemist { background-position: -235px -55px; }
.bg-forgeWardProfits { background-position: -235px -100px; }
.bg-frugalMiner { background-position: -235px -145px; }
.bg-fruityHeaven { background-position: -235px -190px; }
.bg-fieldExtensionModule { background-position: -10px -235px; }
.bg-fireKissed { background-position: -55px -235px; }
.bg-fruityWoody { background-position: -100px -235px; }
.bg-goldRush { background-position: -145px -235px; }
.bg-fruitfulFumble { background-position: -190px -235px; }
.bg-glassRoom { background-position: -235px -235px; }
.bg-goldenTouch { background-position: -280px -10px; }
.bg-greenhouseGamble { background-position: -280px -55px; }
.bg-goldenSunflower { background-position: -280px -100px; }
.bg-generousOrchard { background-position: -280px -145px; }
.bg-fruityProfit { background-position: -280px -190px; }
.bg-greasyPlants { background-position: -280px -235px; }
.bg-greenhouseGuru { background-position: -10px -280px; }
.bg-greenThumb { background-position: -55px -280px; }
.bg-greaseLightning { background-position: -100px -280px; }
.bg-greenThumb2 { background-position: -145px -280px; }
.bg-healthyLivestock { background-position: -190px -280px; }
.bg-hectareFarm { background-position: -235px -280px; }
.bg-instaChop { background-position: -280px -280px; }
.bg-ironBumpkin { background-position: -325px -10px; }
.bg-heartwarmingInstruments { background-position: -325px -55px; }
.bg-horrorMike { background-position: -325px -100px; }
.bg-instantGrowth { background-position: -325px -145px; }
.bg-ironHustle { background-position: -325px -190px; }
.bg-kaleMix { background-position: -325px -235px; }
.bg-leakProofTank { background-position: -325px -280px; }
.bg-lauriesGains { background-position: -10px -325px; }
.bg-logger { background-position: -55px -325px; }
.bg-lumberjack { background-position: -100px -325px; }
.bg-longPickings { background-position: -145px -325px; }
.bg-loyalMacaw { background-position: -190px -325px; }
.bg-merinoWhisperer { background-position: -235px -325px; }
.bg-lumberjacksExtra { background-position: -280px -325px; }
.bg-midasRush { background-position: -325px -325px; }
.bg-midasSprint { background-position: -370px -10px; }
.bg-moreAxes { background-position: -370px -55px; }
.bg-moneyTree { background-position: -370px -100px; }
.bg-noAxeNoWorries { background-position: -370px -145px; }
.bg-oilExtraction { background-position: -370px -190px; }
.bg-morePicks { background-position: -370px -235px; }
.bg-oilBeBack { background-position: -370px -280px; }
.bg-oilGadget { background-position: -370px -325px; }
.bg-oilRig { background-position: -10px -370px; }
.bg-oliveExpress { background-position: -55px -370px; }
.bg-oldFarmer { background-position: -100px -370px; }
.bg-prospector { background-position: -145px -370px; }
.bg-restlessAnimals { background-position: -190px -370px; }
.bg-rapidRig { background-position: -235px -370px; }
.bg-pearTurbocharge { background-position: -280px -370px; }
.bg-riceAndShine { background-position: -325px -370px; }
.bg-rockNRoll { background-position: -370px -370px; }
.bg-riceRocket { background-position: -415px -10px; }
.bg-rockyFavor { background-position: -415px -55px; }
.bg-seedSpecialist { background-position: -415px -100px; }
.bg-sheepwiseDiet { background-position: -415px -145px; }
.bg-seededBounty { background-position: -415px -190px; }
.bg-seedyBusiness { background-position: -415px -235px; }
.bg-shortPickings { background-position: -415px -280px; }
.bg-slickSaver { background-position: -415px -325px; }
.bg-speedMiner { background-position: -415px -370px; }
.bg-strongRoots { background-position: -10px -415px; }
.bg-treeBlitz { background-position: -55px -415px; }
.bg-treeCharge { background-position: -100px -415px; }
.bg-tapProspector { background-position: -145px -415px; }
.bg-toughTree { background-position: -190px -415px; }
.bg-VictoriasSecretary { background-position: -235px -415px; }
.bg-treeTurnaround { background-position: -280px -415px; }
.bg-zestyVibes { background-position: -325px -415px; }
.bg-youngFarmer { background-position: -370px -415px; }
.bg-vineVelocity { background-position: -415px -415px; }
.bg-ager { background-position: -460px -10px; }
.bg-bacalhau { background-position: -460px -55px; }
.bg-barnManager { background-position: -460px -100px; }
.bg-barnyardRouse { background-position: -460px -145px; }
.bg-beeCollective { background-position: -460px -190px; }
.bg-blend-tastic { background-position: -460px -235px; }
.bg-bloomingBoost { background-position: -460px -280px; }
.bg-blossomBonding { background-position: -460px -325px; }
.bg-cheapRakes { background-position: -460px -370px; }
.bg-buzzworthyTreats { background-position: -460px -415px; }
.bg-chonkyFeed { background-position: -10px -460px; }
.bg-compostingBonanza { background-position: -55px -460px; }
.bg-compostingOverhaul { background-position: -100px -460px; }
.bg-compostingRevamp { background-position: -145px -460px; }
.bg-cow_SmartNutrition { background-position: -190px -460px; }
.bg-doubleNom { background-position: -235px -460px; }
.bg-drive-ThroughDeli { background-position: -280px -460px; }
.bg-efficientBin { background-position: -325px -460px; }
.bg-fastFeasts { background-position: -370px -460px; }
.bg-featheryBusiness { background-position: -415px -460px; }
.bg-fieryJackpot { background-position: -460px -460px; }
.bg-fishermans5Fold { background-position: -505px -10px; }
.bg-fishermans10Fold { background-position: -505px -55px; }
.bg-fishSmoking { background-position: -505px -100px; }
.bg-fishyChance { background-position: -505px -145px; }
.bg-fishyFeast { background-position: -505px -190px; }
.bg-fishyFortune { background-position: -505px -235px; }
.bg-fishyGamble { background-position: -505px -280px; }
.bg-fishyRoll { background-position: -505px -325px; }
.bg-flowerPower { background-position: -505px -370px; }
.bg-flowerSale { background-position: -505px -415px; }
.bg-floweryAbode { background-position: -505px -460px; }
.bg-frenziedFish { background-position: -10px -505px; }
.bg-frostedCakes { background-position: -55px -505px; }
.bg-fruitfulBounty { background-position: -100px -505px; }
.bg-fryFrenzy { background-position: -145px -505px; }
.bg-hyperBees { background-position: -190px -505px; }
.bg-instantGratification { background-position: -235px -505px; }
.bg-juicyBoost { background-position: -280px -505px; }
.bg-leathercraftMastery { background-position: -325px -505px; }
.bg-moreWithLess { background-position: -370px -505px; }
.bg-munchingMastery { background-position: -415px -505px; }
.bg-nomNom { background-position: -460px -505px; }
.bg-petalBlessed { background-position: -505px -505px; }
.bg-petalledPerk { background-position: -550px -10px; }
.bg-pollenPowerUp { background-position: -550px -55px; }
.bg-premiumWorms { background-position: -550px -100px; }
.bg-reelDeal { background-position: -550px -145px; }
.bg-refiner { background-position: -550px -190px; }
.bg-rootRocket { background-position: -550px -235px; }
.bg-saltSurge { background-position: -550px -280px; }
.bg-saltySeas { background-position: -550px -325px; }
.bg-seaBlessed { background-position: -550px -370px; }
.bg-speedyAging { background-position: -550px -415px; }
.bg-sproutSurge { background-position: -550px -460px; }
.bg-sweetBonus { background-position: -550px -505px; }
.bg-swiftDecomposer { background-position: -10px -550px; }
.bg-swiftSizzle { background-position: -55px -550px; }
.bg-turboCharged { background-position: -100px -550px; }
.bg-turboFry { background-position: -145px -550px; }
.bg-wideRakes { background-position: -190px -550px; }
.bg-wormyTreat { background-position: -235px -550px; }
.bg-wrangler { background-position: -280px -550px; }