/* =========================================
   SPRITES - Collectibles
   Version: 1.0.0
========================================= */

.sprite-collectibles {
    width: 25px;
    height: 25px;
    background-image: url('../Imagens/collectibles.png?v=1.0.0');
}

.bg-alienChicken { background-position: -10px -10px; }
.bg-anemoneFlower { background-position: -55px -10px; }
.bg-apprenticeBeaver { background-position: -10px -55px; }
.bg-astronautSheep { background-position: -55px -55px; }
.bg-babyCow { background-position: -100px -10px; }
.bg-ayamCemani { background-position: -100px -55px; }
.bg-bananaChicken { background-position: -10px -100px; }
.bg-barnBlueprint { background-position: -55px -100px; }
.bg-autumnGuardian { background-position: -100px -100px; }
.bg-battleFish { background-position: -145px -10px; }
.bg-blackBearry { background-position: -145px -55px; }
.bg-basicScarecrow { background-position: -145px -100px; }
.bg-bale { background-position: -10px -145px; }
.bg-cabbageBoy { background-position: -55px -145px; }
.bg-cannonball { background-position: -100px -145px; }
.bg-cabbageGirl { background-position: -145px -145px; }
.bg-chickenCoop { background-position: -190px -10px; }
.bg-cluckulator { background-position: -190px -55px; }
.bg-crimsonCarp { background-position: -190px -100px; }
.bg-crimPeckster { background-position: -190px -145px; }
.bg-crimstoneClam { background-position: -10px -190px; }
.bg-drCow { background-position: -55px -190px; }
.bg-emeraldTurtle { background-position: -100px -190px; }
.bg-easterBunny { background-position: -145px -190px; }
.bg-farmDog { background-position: -190px -190px; }
.bg-foliant { background-position: -235px -10px; }
.bg-elPolloVeloz { background-position: -235px -55px; }
.bg-fatChicken { background-position: -235px -100px; }
.bg-fruitTuneBox { background-position: -235px -145px; }
.bg-frozenSheep { background-position: -235px -190px; }
.bg-giantArtichoke { background-position: -10px -235px; }
.bg-foremanBeaver { background-position: -55px -235px; }
.bg-frozenCow { background-position: -100px -235px; }
.bg-giantKale { background-position: -145px -235px; }
.bg-giantOnion { background-position: -190px -235px; }
.bg-giantZucchini { background-position: -235px -235px; }
.bg-giantTurnip { background-position: -280px -10px; }
.bg-goldBeetle { background-position: -280px -55px; }
.bg-goldEgg { background-position: -280px -100px; }
.bg-gnome { background-position: -280px -145px; }
.bg-giantYam { background-position: -280px -190px; }
.bg-goldenCow { background-position: -280px -235px; }
.bg-groovyGramophone { background-position: -10px -280px; }
.bg-hoot { background-position: -55px -280px; }
.bg-goldenSheep { background-position: -100px -280px; }
.bg-grapeGranny { background-position: -145px -280px; }
.bg-ironBeetle { background-position: -190px -280px; }
.bg-karkinos { background-position: -235px -280px; }
.bg-labGrownCarrot { background-position: -280px -280px; }
.bg-goldenCauliflower { background-position: -325px -10px; }
.bg-labGrownRadish { background-position: -325px -55px; }
.bg-knightChicken { background-position: -325px -100px; }
.bg-laurieTheChuckleCrow { background-position: -325px -145px; }
.bg-lemonTeaBath { background-position: -325px -190px; }
.bg-longhornCowfish { background-position: -325px -235px; }
.bg-maximus { background-position: -325px -280px; }
.bg-lunarCalendar { background-position: -10px -325px; }
.bg-ironIdol { background-position: -55px -325px; }
.bg-magmaStone { background-position: -100px -325px; }
.bg-immortalPear { background-position: -145px -325px; }
.bg-gildedSwordfish { background-position: -190px -325px; }
.bg-kuebiko { background-position: -235px -325px; }
.bg-mermaidSheep { background-position: -280px -325px; }
.bg-nautilus { background-position: -325px -325px; }
.bg-nugget { background-position: -370px -10px; }
.bg-obie { background-position: -370px -55px; }
.bg-mysteriousParsnip { background-position: -370px -100px; }
.bg-labGrownPumpkin { background-position: -370px -145px; }
.bg-quarry { background-position: -370px -190px; }
.bg-obsidianTurtle { background-position: -370px -235px; }
.bg-moover { background-position: -370px -280px; }
.bg-pabloTheBunny { background-position: -370px -325px; }
.bg-macaw { background-position: -10px -370px; }
.bg-radiantRay { background-position: -55px -370px; }
.bg-nana { background-position: -100px -370px; }
.bg-potentPotato { background-position: -145px -370px; }
.bg-pharaohGnome { background-position: -190px -370px; }
.bg-peeledPotato { background-position: -235px -370px; }
.bg-poppy { background-position: -280px -370px; }
.bg-meerkat { background-position: -325px -370px; }
.bg-purpleTrail { background-position: -370px -370px; }
.bg-poseidonsThrone { background-position: -415px -10px; }
.bg-ladyBug { background-position: -415px -55px; }
.bg-richChicken { background-position: -415px -100px; }
.bg-nurseSheep { background-position: -415px -145px; }
.bg-rockGolem { background-position: -415px -190px; }
.bg-kernaldo { background-position: -415px -235px; }
.bg-reelmastersChair { background-position: -415px -280px; }
.bg-mootant { background-position: -415px -325px; }
.bg-nancy { background-position: -415px -370px; }
.bg-lemonShark { background-position: -10px -415px; }
.bg-freyaFox { background-position: -55px -415px; }
.bg-oaken { background-position: -100px -415px; }
.bg-queenCornelia { background-position: -145px -415px; }
.bg-janitorChicken { background-position: -190px -415px; }
.bg-mammoth { background-position: -235px -415px; }
.bg-lemonFrog { background-position: -280px -415px; }
.bg-radicalRadish { background-position: -325px -415px; }
.bg-ricePanda { background-position: -370px -415px; }
.bg-revelingLemon { background-position: -415px -415px; }
.bg-rockyTheMole { background-position: -460px -10px; }
.bg-rooster { background-position: -460px -55px; }
.bg-scarecrow { background-position: -460px -100px; }
.bg-scaryMike { background-position: -460px -145px; }
.bg-sheafOfPlenty { background-position: -460px -190px; }
.bg-sirGoldensnout { background-position: -460px -235px; }
.bg-sleepyChicken { background-position: -460px -280px; }
.bg-soybliss { background-position: -460px -325px; }
.bg-speedChicken { background-position: -460px -370px; }
.bg-springGuardian { background-position: -460px -415px; }
.bg-squidChicken { background-position: -10px -460px; }
.bg-squirrel { background-position: -55px -460px; }
.bg-squirrelMonkey { background-position: -100px -460px; }
.bg-stellarSunflower { background-position: -145px -460px; }
.bg-stoneBeetle { background-position: -190px -460px; }
.bg-summerChicken { background-position: -235px -460px; }
.bg-summerGuardian { background-position: -280px -460px; }
.bg-tikiTotem { background-position: -325px -460px; }
.bg-tinTurtle { background-position: -370px -460px; }
.bg-tomatoBombard { background-position: -415px -460px; }
.bg-tomatoClown { background-position: -460px -460px; }
.bg-toolshed { background-position: -505px -10px; }
.bg-toxicTuft { background-position: -505px -55px; }
.bg-tunnelMole { background-position: -505px -100px; }
.bg-turboSprout { background-position: -505px -145px; }
.bg-victoriaSisters { background-position: -505px -190px; }
.bg-undeadRooster { background-position: -505px -235px; }
.bg-vinny { background-position: -505px -280px; }
.bg-volcanoGnome { background-position: -505px -325px; }
.bg-winterGuardian { background-position: -505px -370px; }
.bg-woodNymphWendy { background-position: -505px -415px; }
.bg-woodyTheBeaver { background-position: -505px -460px; }
.bg-warehouse { background-position: -10px -505px; }
