/* =========================================
   SPRITES - Buds (25x25)
   Version: 1.0.0
========================================= */

.sprite-buds {
    width: 25px;
    height: 25px;
    background-image: url('../Imagens/buds.png?v=1.0.0');
}

/* posições */
.bg-beach { background-position: -10px -10px; }
.bg-beach3LeafClover { background-position: -55px -10px; }
.bg-beachAcornHat { background-position: -10px -55px; }
.bg-beachAppleHead { background-position: -55px -55px; }
.bg-beachBanana { background-position: -100px -10px; }
.bg-beachBasicLeaf { background-position: -100px -55px; }
.bg-beachCarrotHead { background-position: -10px -100px; }
.bg-beachDiamondGem { background-position: -55px -100px; }
.bg-beachEggHead { background-position: -100px -100px; }
.bg-beachGoldGem { background-position: -145px -10px; }
.bg-beachMagicMushroom { background-position: -145px -55px; }
.bg-beachMinerHat { background-position: -145px -100px; }
.bg-beachMushroom { background-position: -10px -145px; }
.bg-beachRubyGem { background-position: -55px -145px; }
.bg-beachSunflowerHat { background-position: -100px -145px; }
.bg-beachTreeHat { background-position: -145px -145px; }
.bg-castle { background-position: -190px -10px; }
.bg-castle3LeafClover { background-position: -190px -55px; }
.bg-castleAcornHat { background-position: -190px -100px; }
.bg-castleAppleHead { background-position: -190px -145px; }
.bg-castleBanana { background-position: -10px -190px; }
.bg-castleBasicLeaf { background-position: -55px -190px; }
.bg-castleCarrotHead { background-position: -100px -190px; }
.bg-castleDiamondGem { background-position: -145px -190px; }
.bg-castleFishHat { background-position: -190px -190px; }
.bg-castleGoldGem { background-position: -235px -10px; }
.bg-castleMagicMushroom { background-position: -235px -55px; }
.bg-castleEggHead { background-position: -235px -100px; }
.bg-castleMinerHat { background-position: -235px -145px; }
.bg-castleMushroom { background-position: -235px -190px; }
.bg-castleRubyGem { background-position: -10px -235px; }
.bg-castleSunflowerHat { background-position: -55px -235px; }
.bg-castleTreeHat { background-position: -100px -235px; }
.bg-cave { background-position: -145px -235px; }
.bg-cave3LeafClover { background-position: -190px -235px; }
.bg-caveAppleHead { background-position: -235px -235px; }
.bg-caveBanana { background-position: -280px -10px; }
.bg-caveBasicLeaf { background-position: -280px -55px; }
.bg-caveCarrotHead { background-position: -280px -100px; }
.bg-caveDiamondGem { background-position: -280px -145px; }
.bg-caveEggHead { background-position: -280px -190px; }
.bg-caveFishHat { background-position: -280px -235px; }
.bg-caveGoldGem { background-position: -10px -280px; }
.bg-caveAcornHat { background-position: -55px -280px; }
.bg-caveMagicMushroom { background-position: -100px -280px; }
.bg-caveMinerHat { background-position: -145px -280px; }
.bg-caveMushroom { background-position: -190px -280px; }
.bg-caveRubyGem { background-position: -235px -280px; }
.bg-caveSunflowerHat { background-position: -280px -280px; }
.bg-caveTreeHat { background-position: -325px -10px; }
.bg-plaza { background-position: -325px -55px; }
.bg-plaza3LeafClover { background-position: -325px -100px; }
.bg-plazaAcornHat { background-position: -325px -145px; }
.bg-plazaAppleHead { background-position: -325px -190px; }
.bg-plazaBanana { background-position: -325px -235px; }
.bg-plazaBasicLeaf { background-position: -325px -280px; }
.bg-plazaCarrotHead { background-position: -10px -325px; }
.bg-plazaDiamondGem { background-position: -55px -325px; }
.bg-plazaEggHead { background-position: -100px -325px; }
.bg-plazaFishHat { background-position: -145px -325px; }
.bg-plazaGoldGem { background-position: -190px -325px; }
.bg-plazaMagicMushroom { background-position: -235px -325px; }
.bg-plazaMinerHat { background-position: -280px -325px; }
.bg-plazaMushroom { background-position: -325px -325px; }
.bg-plazaRubyGem { background-position: -370px -10px; }
.bg-plazaTreeHat { background-position: -370px -55px; }
.bg-plazaSunflowerHat { background-position: -370px -100px; }
.bg-port { background-position: -370px -145px; }
.bg-port3LeafClover { background-position: -370px -190px; }
.bg-portAcornHat { background-position: -370px -235px; }
.bg-portAppleHead { background-position: -370px -280px; }
.bg-portBanana { background-position: -370px -325px; }
.bg-portBasicLeaf { background-position: -10px -370px; }
.bg-portCarrotHead { background-position: -55px -370px; }
.bg-portDiamondGem { background-position: -100px -370px; }
.bg-portEggHead { background-position: -145px -370px; }
.bg-portGoldGem { background-position: -190px -370px; }
.bg-portMagicMushroom { background-position: -235px -370px; }
.bg-portMinerHat { background-position: -280px -370px; }
.bg-portFishHat { background-position: -325px -370px; }
.bg-portMushroom { background-position: -370px -370px; }
.bg-portRubyGem { background-position: -415px -10px; }
.bg-portSunflowerHat { background-position: -415px -55px; }
.bg-retreat { background-position: -415px -100px; }
.bg-retreatAcornHat { background-position: -415px -145px; }
.bg-retreatAppleHead { background-position: -415px -190px; }
.bg-retreat3LeafClover { background-position: -415px -235px; }
.bg-retreatBanana { background-position: -415px -280px; }
.bg-retreatBasicLeaf { background-position: -415px -325px; }
.bg-retreatCarrotHead { background-position: -415px -370px; }
.bg-retreatDiamondGem { background-position: -10px -415px; }
.bg-retreatEggHead { background-position: -55px -415px; }
.bg-retreatFishHat { background-position: -100px -415px; }
.bg-retreatGoldGem { background-position: -145px -415px; }
.bg-portTreeHat { background-position: -190px -415px; }
.bg-retreatMagicMushroom { background-position: -235px -415px; }
.bg-retreatMinerHat { background-position: -280px -415px; }
.bg-retreatRubyGem { background-position: -325px -415px; }
.bg-retreatMushroom { background-position: -370px -415px; }
.bg-retreatSunflowerHat { background-position: -415px -415px; }
.bg-retreatTreeHat { background-position: -460px -10px; }
.bg-saphiro { background-position: -460px -55px; }
.bg-saphiro3LeafClover { background-position: -460px -100px; }
.bg-saphiroAcornHat { background-position: -460px -145px; }
.bg-saphiroAppleHead { background-position: -460px -190px; }
.bg-saphiroBanana { background-position: -460px -235px; }
.bg-saphiroBasicLeaf { background-position: -460px -280px; }
.bg-saphiroCarrotHead { background-position: -460px -325px; }
.bg-saphiroDiamondGem { background-position: -460px -370px; }
.bg-saphiroEggHead { background-position: -460px -415px; }
.bg-saphiroFishHat { background-position: -10px -460px; }
.bg-saphiroGoldGem { background-position: -55px -460px; }
.bg-saphiroMagicMushroom { background-position: -100px -460px; }
.bg-saphiroMinerHat { background-position: -145px -460px; }
.bg-saphiroMushroom { background-position: -190px -460px; }
.bg-saphiroRubyGem { background-position: -235px -460px; }
.bg-saphiroSunflowerHat { background-position: -280px -460px; }
.bg-saphiroTreeHat { background-position: -325px -460px; }
.bg-sea { background-position: -370px -460px; }
.bg-sea3LeafClover { background-position: -415px -460px; }
.bg-seaAcornHat { background-position: -460px -460px; }
.bg-seaAppleHead { background-position: -505px -10px; }
.bg-seaBanana { background-position: -505px -55px; }
.bg-seaBasicLeaf { background-position: -505px -100px; }
.bg-seaCarrotHead { background-position: -505px -145px; }
.bg-seaDiamondGem { background-position: -505px -190px; }
.bg-seaEggHead { background-position: -505px -235px; }
.bg-seaFishHat { background-position: -505px -280px; }
.bg-seaGoldGem { background-position: -505px -325px; }
.bg-seaMagicMushroom { background-position: -505px -370px; }
.bg-seaMinerHat { background-position: -505px -415px; }
.bg-seaMushroom { background-position: -505px -460px; }
.bg-seaRubyGem { background-position: -10px -505px; }
.bg-seaSunflowerHat { background-position: -55px -505px; }
.bg-seaTreeHat { background-position: -100px -505px; }
.bg-snow { background-position: -145px -505px; }
.bg-snow3LeafClover { background-position: -190px -505px; }
.bg-snowAcornHat { background-position: -235px -505px; }
.bg-snowAppleHead { background-position: -280px -505px; }
.bg-snowBanana { background-position: -325px -505px; }
.bg-snowBasicLeaf { background-position: -370px -505px; }
.bg-snowCarrotHead { background-position: -415px -505px; }
.bg-snowDiamondGem { background-position: -460px -505px; }
.bg-snowEggHead { background-position: -505px -505px; }
.bg-snowFishHat { background-position: -550px -10px; }
.bg-snowGoldGem { background-position: -550px -55px; }
.bg-snowMagicMushroom { background-position: -550px -100px; }
.bg-snowMinerHat { background-position: -550px -145px; }
.bg-snowMushroom { background-position: -550px -190px; }
.bg-snowRubyGem { background-position: -550px -235px; }
.bg-snowSunflowerHat { background-position: -550px -280px; }
.bg-snowTreeHat { background-position: -550px -325px; }
.bg-woodlands { background-position: -550px -370px; }
.bg-woodlands3LeafClover { background-position: -550px -415px; }
.bg-woodlandsAcornHat { background-position: -550px -460px; }
.bg-woodlandsAppleHead { background-position: -550px -505px; }
.bg-woodlandsBanana { background-position: -10px -550px; }
.bg-woodlandsBasicLeaf { background-position: -55px -550px; }
.bg-woodlandsCarrotHead { background-position: -100px -550px; }
.bg-woodlandsDiamondGem { background-position: -145px -550px; }
.bg-woodlandsEggHead { background-position: -190px -550px; }
.bg-woodlandsFishHat { background-position: -235px -550px; }
.bg-woodlandsGoldGem { background-position: -280px -550px; }
.bg-woodlandsMagicMushroom { background-position: -325px -550px; }
.bg-woodlandsMinerHat { background-position: -370px -550px; }
.bg-woodlandsMushroom { background-position: -415px -550px; }
.bg-woodlandsRubyGem { background-position: -460px -550px; }
.bg-woodlandsSunflowerHat { background-position: -505px -550px; }
.bg-woodlandsTreeHat { background-position: -550px -550px; }