/* =========================================
   SPRITES - Shrines
   Version: 1.0.0
========================================= */

/* categoria icones */
.sprite-temporarios {
    width: 25px;
    height: 25px;
    background-image: url('../Imagens/temporarios.png?v=1.0.0');
}

/* Shrines individuais */
.bg-badgerShrine       { background-position: -10px -10px; }
.bg-bantamShrine       { background-position: -55px -10px; }
.bg-bearShrine         { background-position: -10px -55px; }
.bg-boarShrine         { background-position: -55px -55px; }
.bg-collieShrine       { background-position: -100px -10px; }
.bg-foxShrine          { background-position: -100px -55px; }
.bg-houndShrine        { background-position: -10px -100px; }
.bg-moleShrine         { background-position: -55px -100px; }
.bg-legendaryShrine    { background-position: -100px -100px; }
.bg-mothShrine         { background-position: -145px -10px; }
.bg-obsidianShrine     { background-position: -145px -55px; }
.bg-sparrowShrine      { background-position: -145px -100px; }
.bg-stagShrine         { background-position: -10px -145px; }
.bg-superTotem         { background-position: -55px -145px; }
.bg-tortoiseShrine     { background-position: -100px -145px; }
.bg-toucanShrine       { background-position: -145px -145px; }
.bg-tradingShrine      { background-position: -190px -10px; }
