/* =========================================
   SPRITES - Animais / Fazenda
   Version: 1.0.0
========================================= */

.sprite-animais {
    width: 15px;
    height: 15px;
    background-image: url('../Imagens/animais.png?v=1.0.0');
}

/* posições */
.bg-barnDelight { background-position: -10px -10px; }
.bg-brush { background-position: -45px -10px; }
.bg-egg { background-position: -10px -45px; }
.bg-kaleMix { background-position: -45px -45px; }
.bg-hay { background-position: -80px -10px; }
.bg-leather { background-position: -80px -45px; }
.bg-milk { background-position: -10px -80px; }
.bg-musicBox { background-position: -45px -80px; }
.bg-nutriBarley { background-position: -80px -80px; }
.bg-galinha { background-position: -115px -10px; }
.bg-ovelha { background-position: -115px -45px; }
.bg-omnifeed { background-position: -115px -80px; }
.bg-mixedGrain { background-position: -10px -115px; }
.bg-vaca { background-position: -45px -115px; }
.bg-pettingHand { background-position: -80px -115px; }
.bg-wool { background-position: -115px -115px; }
.bg-merinoWool { background-position: -150px -10px; }
.bg-feather { background-position: -150px -45px; }
.bg-kernelBlend { background-position: -150px -80px; }

.icon-animal {
  transform: scale(1.3);
  transform-origin: center;
}