/* =========================================
   SPRITES - Auras
   Version: 1.0.0
========================================= */

.sprite-auras {
    width: 25px;
    height: 25px;
    background-image: url('../Imagens/auras.png?v=1.0.0');
}

/* posições */
.bg-semAura { background-position: -10px -10px; }
.bg-basicAura { background-position: -55px -10px; }
.bg-greenAura { background-position: -10px -55px; }
.bg-rareAura { background-position: -55px -55px; }
.bg-myticalAura { background-position: -100px -10px; }


